<div class="jumbotron">
  <h1 class="display-4"><h1><%= t("welcome") %>!!!</h1></h1>
  <p class="lead"><%= t("welcome_msg") %></p>
  <hr class="my-4">
  <p><%= t("select_msg") %></p>
</div>

<%= render 'menu' %>
<p><strong><%= I18n.l(Date.today) %></strong></p>
